@font-face {
	font-family: Merienda;
	src: url(fonts/Merienda/Merienda-Regular.ttf)
}

@font-face {
	font-family: PatrickHand;
	src: url(fonts/PatrickHand/PatrickHand-Regular.ttf)
}

* {
	color: white;
	background-color: #111;
	margin: 0.3em;
	font-family: PatrickHand;
}

ol li::marker {
	color: deepskyblue;
}

a {
	text-decoration: none;
	font-family: Merienda;
}

.historia {
	background-color: skyblue;
	color: #111111;
	display: block;
	padding: 0.6em;
	border-radius: 0.5em;
}

.descripcion {
	background-color: darkseagreen;
	color: #000000;
	display: block;
	padding: 0.6em;
	border-radius: 0.5em;
}

.autor {
	background-color: papayawhip;
	color: #000000;
	display: block;
	padding: 0.6em;
	border-radius: 0.5em;
}
